<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="URL" value="https://stg.tessco.com/"></parameter>
	  <parameter name="username" value="cdmaxx"></parameter>
	  <parameter name="password" value="P@ssword1"></parameter>
	  <parameter name="salesorder" value="5001355"></parameter>
	  <parameter name="sku" value="14515"></parameter>
	  <parameter name="companylegalentityname" value="octanglefx"></parameter>
	  <parameter name="newcompanylegalentityname" value="octanglefx"></parameter>
	  <parameter name="addressline1" value="23-124 SECUNDERABAD"></parameter>
	  <parameter name="addressline2" value="HYDERABAD"></parameter>
	  <parameter name="city" value="HYDERABAD"></parameter>
	  <parameter name="postalCode" value="5001031"></parameter>
	  <parameter name="Emailaddresstoreceiveinvoices" value="rayavarapu.madhuri94@gmail.com"></parameter>
	  <parameter name="contactfirstname" value="madhuri"></parameter>
	  <parameter name="contactlastname" value="rayavarapu"></parameter>
	  <parameter name="firstname" value="Test"></parameter>
	  <parameter name="lastname" value="Demo"></parameter>
	  <parameter name="email" value="rayavarapu.madhuri94@gmail.com"></parameter>
	  <parameter name="phone" value="9209273888"></parameter>
	  <parameter name="Rusername" value="testdemok9"></parameter>
	  <parameter name="Rpassword" value="rayavarapu"></parameter>
	  <parameter name="Rconfirmpassword" value="Tessco@23"></parameter>
	  <parameter name="Account" value="2100046466"></parameter>
	  <parameter name="Transmitfrequency" value="100"></parameter>
	  <parameter name="Receivefrequency" value="100"></parameter>
	  <parameter name="Search" value="556626"></parameter>
	  <parameter name="title" value="Tessco Applications">Tessco Applications</parameter>
	  
	  
	  
    <classes> 
<class name="testng.tessco.Login"/>


   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
